<p id="notice"><%= notice %></p>

<p>
  <b>Descricao:</b>
  <%= @lista.descricao %>
</p>

<%= render 'items/list' %>

<%= link_to 'Editar', edit_lista_path(@lista) %> |
<%= link_to 'Voltar', listas_path %>
