<p id="notice"><%= notice %></p>

<h2>
  <%= @lista.descricao %>
</h2>

<%= render 'items/list' %>

<br/>

<%= link_to "Adicionar item", new_lista_item_path(@lista) %>

<br/>
<br/>

<div>
  <%= link_to 'Editar', edit_lista_path(@lista) %> |
  <%= link_to 'Voltar', listas_path %>
<div>

