<%= form_for [@lista, @item] do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> impediram a item de ser salva:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table>
    <tr>
      <td>
        <%= f.label :Produto %><br />
        <%= select_tag "item[produto_id]", options_from_collection_for_select(@produtos, :id, :label) %>
      </td>
      <td>
        <%= f.label :Quantidade %><br />
        <%= f.text_field :quantidade %>
      </td>
    </tr>
  </table>
  <br/>
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
